.card_empty_slot {
  box-sizing: border-box;
  border: 4px dashed #4D5766;
  background-color: #C7D7EC;
  border-radius: 5%;
  width: 80px;
  height: 80px;
  display: flex;
  align-content: center;
  justify-content: center;
}