.outcomeText {
  font-size: 40px;
  animation: tilt-shaking 0.5s;
  animation-iteration-count: infinite;
}

.outcomeText.outcomeText-damage {
  animation: none;
}
.outcomeText-damage {
  color: #F52C4E;
}

.outcomeText-special {
  color: #FF7640;
}

.outcomeText-heal {
  color: #15C662;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}