.table_cardStack {
  position: relative;
}

.table_cardStack > :nth-child(2) {
  position: absolute;
  top: 20px;
}


.table_cardStack > :nth-child(3) {
  position: absolute;
  top: 40px;
}

.table_cardStack > :nth-child(4) {
  position: absolute;
  top: 60px;
}

.showAll.table_cardStack > :nth-child(2) {
  animation: move-down 0.5s;
  animation-fill-mode: forwards;
}

.showAll.table_cardStack > :nth-child(3) {
  animation: move-down-more 0.5s;
  animation-fill-mode: forwards;
}

.showAll.table_cardStack > :nth-child(4) {
  animation: move-down-most 0.5s;
  animation-fill-mode: forwards;
}

@keyframes move-down {
  100% {transform: translateY(40px)}
}

@keyframes move-down-more {
  100% {transform: translateY(80px)}
}

@keyframes move-down-most {
  100% {transform: translateY(120px)}
}

.table_cardStack.winner.opponent {
  animation: attack-right 0.5s;
  animation-timing-function: ease-out;
  z-index: 50;
}


.table_cardStack.winner.player {
  animation: attack-left 0.5s;
  animation-timing-function: ease-out;
  z-index: 50;
}

@keyframes attack-left {
  100% {
    transform: scale(1.1) translateX(-60px) rotate(-20deg);
  }
}

@keyframes attack-right {
  100% {
    transform: scale(1.1) translateX(60px) rotate(20deg);
  }
}