.table {
  position: relative;
  top: -40px;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
}

.table_playerInfo {
  display: flex;
  margin: 0 24px;
}

.table_playerInfo .playerScore {
  position: absolute;
  display: block;
}

.table_playerInfo .playerInfo-opponent--score {
  left: 0;
}

.table_playerInfo .playerInfo-player--score {
  right: 0;
}

.feedbackText {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  left: 0;
  top: 30%;
}