.card_button {
  padding: 0;
  height:fit-content;
  border: none;
  border-radius: 30%;
  background-color: transparent;
}

.card_button:hover {
  transform: translateY(-3px) scale(1.05,1.05);
  box-shadow: 0 10px 10px -5px;
}