.card_button {
  padding: 0;
  height:fit-content;
  border: none;
  border-radius: 30%;
  background-color: transparent;
  width: 80px;
}

.card_button:hover {
  transform: translateY(-3px) scale(1.05,1.05);
  box-shadow: 0 5px 10px -5px;
}

.card_button.knightHighlight {
  filter: sepia(0);
  animation: pulse-sepia 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse-sepia {
  0% {
    filter: sepia(100%);
  }
  50% {
    filter: sepia(20%);
  }
  100% {
    filter: sepia(100%);
  }
}