.playerPanel {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 2fr 1fr; 
  gap: 8px; 
  grid-template-areas: 
    "panelLeft panelLeft play"
    "panelLeft panelLeft play"
    "panelLeft panelLeft deck"; 
}

.playerPanel_left {
  grid-area: panelLeft;
  align-self: baseline;
}

.playerPanel_deck {
  grid-area: deck;
}