#root {
  max-width: 1280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

body {
  overflow-y:scroll;
}

img {
  image-rendering: pixelated;
}

.player_debug_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hand_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card_image {
  width: 80px;
  height: 80px;
}

.card_button .card_image {
  width: 60px;
  height: 60px;
}

.card_empty_slot {
  border: 1px solid darkgray;
  border-radius: 4%;
  /* match the content + padding width from .card_button that has an image */
  width: 60 + 19 + 19;
  /* match the content + padding height from .card_button that has an image */
  height: 63 + 10 + 9;
  margin-top: 8px;
  display: flex;
  align-content: center;
  justify-content: center;
}